:root {
    --main-bg-color: coral;
    --main-txt-color: blue;    
    --main-padding: 15px;    
}

.nav {
	background-color: var(--main-bg-color);
}

ul {
    list-style-type: none;
    margin: -9px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}